// #2A52BE cerulean darkest blue.    Main header color
// #0094E9 ocean blue 			background color
// #00CBE4 light sea blue			text color
// #6BFBCE light sea green		ACCENT COLOR : links,
//  animations etc

$main-header-color: #2A52BE;
$background-color:#6BFBCE;
$text-color:#00084B;
$accent-color:#00CBE4;

body{
	background-color: $background-color;
}

h1{
	text-align: center;
	color: $main-header-color;
}

h2 {
	color: $text-color;
	text-align: center;
}

.container{
	// center div
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column-reverse;
}